@import '../index.scss';


.bottomNav{
    background-color: $dark !important;
    z-index: 10;
}
.icon{
    color: $icon !important;
}
.css-i4bv87-MuiSvgIcon-root{
    width: 1.3em !important;
    height: 1.3em !important;
}