.preview{
    h3{
        font-weight: 500;
        font-size: 19px;
        line-height: 23.16px;
    }
    .card{
        position: relative;
        text-align: center;
        h2{
            position: absolute;
            left: 50%;
            bottom: 0;
            text-align: center;
            transform: translate(-50%, 0%);
        }
    }
    img{
        border-radius: 50%;
    }
    h2.text{
        font-family: 'Montserrat Subrayada', sans-serif;
        font-size: 18px;
        line-height: 21.94px;
        font-family: 400;
        margin-bottom: 0;
    }
    .text2{
        font-family: 'Mountains of Christmas';
        font-size: 55px;
        line-height: 76.27px;
        font-family: 400;
        margin-bottom: 0;
    }
    .text3{
        font-family: 'Mouse Memoirs', sans-serif;
        font-size: 35px;
        line-height: 39.94px;
        font-family: 400;
        margin-bottom: 0;
    }
    .mySwiper{
        padding: 5px 0;
    }
}